@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p,
h1,
i,
b,
h2,
h3,
h4,
li,
a,
label,
input,
button {
  font-family: "Montserrat", sans-serif;
}

.dropdown-menu {
  border: 0px solid grey;
}

.dropdown-menu .dropdown-item {
  border-bottom: 1px solid grey;
  color: #79a418;
}

.navbar {
  padding: 0.5em 1em;
}

.navbar-brand {
  padding: 0 0.5em;
}

.navbar-brand img {
  height: 60px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: auto;
}

header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 27em;
}

.carousel-img {
  display: block;
  width: 100%;
  height: 27em;
}

.ci1 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/BANNERS/PC/HEADER/1.png);
}

.ci2 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/BANNERS/PC/HEADER/2.png);
}

.ci3 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/BANNERS/PC/HEADER/3.png);
}

.carousel {
  width: 100%;
}

.card-body {
  background-color: rgba(0, 0, 0, 0);
}

.no-bg {
  background-color: rgba(0, 0, 0, 0);
}

.card-header {
  background-color: #79a418;
}

.contenedor-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.contenedor-prod .productos {
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.contenedor-prod .productos .envios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.contenedor-prod .productos .envios .envio-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.contenedor-prod .productos .envios .envio-art:nth-child(2) {
  width: 1em;
  border-right: 1px dotted #79a418;
  margin-right: 1em;
  border-left: 1px dotted #79a418;
  margin-left: 1em;
  display: inherit;
}

.contenedor-prod .productos .envios .envio-art .envio-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-prod .productos .envios .envio-art .envio-left p {
  margin: 0;
  margin-right: 1em;
}

.contenedor-prod .productos .envios .envio-art .envio-left i {
  color: #79a418;
  font-weight: bold;
  padding-right: 1em;
}

.contenedor-prod .productos .envios .envio-art .envio-left .hoja {
  margin: auto 0.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/hojita.jpg);
  width: 1em;
  height: 1em;
}

.contenedor-prod .productos section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.contenedor-prod .productos section .title-cat {
  text-align: left;
  padding-left: 2em;
  font-size: 1em;
  font-weight: 800;
  color: white;
}

.contenedor-prod .productos section .categoria {
  width: 80%;
  margin: 0 auto;
  border-color: linear-gradient(to right, #79a418 100%, #79a418 0%);
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-prod .productos section .categoria .articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 25em;
  min-height: 25em;
  height: auto;
  margin: 1em 1em;
  border-right: 1px dotted #79a418;
  border-bottom: 1px dotted #79a418;
  padding: 0 2em 2em 0;
}

.contenedor-prod .productos section .categoria .articulo .tipo-de-rosa {
  background-color: #79a418;
  color: white;
  width: 100%;
  height: 1.5em;
  margin: 0 0;
  font-weight: bolder;
  padding-right: 1em;
  text-align: right;
}

.contenedor-prod .productos section .categoria .articulo .desc-rosa {
  text-align: left;
  font-size: 0.9em;
  font-weight: 600;
  color: #505050;
}

.contenedor-prod .productos section .categoria .articulo .artic-img {
  width: auto;
  height: 15em;
}

.contenedor-prod .productos section .categoria .articulo .prod1 {
  background-image: url(assets/prod/producto-1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod2 {
  background-image: url(assets/prod/alstroemerias2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod3 {
  background-image: url(assets/prod/canasta-nac.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod4 {
  background-image: url(assets/prod/ROSAS.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod5 {
  background-image: url(assets/prod/bicolor.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod6 {
  background-image: url(assets/prod/SURTIDO.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod7 {
  background-image: url(assets/prod/cesta-yerberas-globos.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod8 {
  background-image: url(assets/prod/canasta-peluche-globo.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod9 {
  background-image: url(assets/prod/lisantus-y-globos.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod10 {
  background-image: url(assets/prod/rocvio-campestre.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod11 {
  background-image: url(assets/prod/ramo4esp-primavera.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod12 {
  background-image: url(assets/prod/rosas-box-25.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod13 {
  background-image: url(assets/prod/box-16-rosas.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod14 {
  background-image: url(assets/prod/rosas-c-ojos-de-perdiz.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod15 {
  background-image: url(assets/prod/susper-cesta-peluche.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod16 {
  background-image: url(assets/prod/cesta-nueva.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod17 {
  background-image: url(assets/prod/ROSAS-Y-CHAMPAGNE.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod18 {
  background-image: url(assets/prod/vinoybombon.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod19 {
  background-image: url(assets/prod/bandeja-picada.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod20 {
  background-image: url(assets/prod/DESAYUNO-floresjpg.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod21 {
  background-image: url(assets/prod/producto-nuevo3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod22 {
  background-image: url(assets/prod/bombones.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod23 {
  background-image: url(assets/prod/matero.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod24 {
  background-image: url(assets/prod/canasta-vip-el.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod25 {
  background-image: url(assets/prod/florero-gerbera.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod26 {
  background-image: url(assets/prod/florero-alstromerias.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod27 {
  background-image: url(assets/prod/florero-claveles.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod28 {
  background-image: url(assets/prod/florero-rosas.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod29 {
  background-image: url(assets/prod/florero-amarillo.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod30 {
  background-image: url(assets/prod/SUPER-CESTA-DE-GERBERAS-Y-FLORES--SILVESTRES.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod31 {
  background-image: url(assets/prod/REGALO-NUEVO.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod32 {
  background-image: url(assets/prod/ARREGLO-LILIUMS-OJO-PERDIZ.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod33 {
  background-image: url(assets/prod/Arreglo-Imperial.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod34 {
  background-image: url(assets/prod/cesta-peluche-torta.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod35 {
  background-image: url(assets/prod/cesta-mis-15.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod36 {
  background-image: url(assets/prod/condolencias/corona-estandar.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod37 {
  background-image: url(assets/prod/condolencias/corona-nueva.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod38 {
  background-image: url(assets/prod/condolencias/corona-nueva-1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod39 {
  background-image: url(assets/prod/condolencias/corona-mediana.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod40 {
  background-image: url(assets/prod/condolencias/corona-especial.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod41 {
  background-image: url(assets/prod/condolencias/corona-grande.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod42 {
  background-image: url(assets/prod/condolencias/aro-espuma-floral.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod43 {
  background-image: url(assets/prod/condolencias/combo-funebre.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod44 {
  background-image: url(assets/prod/condolencias/cruz.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod45 {
  background-image: url(assets/prod/condolencias/centro-funerario.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod46 {
  background-image: url(assets/prod/condolencias/corazon-g.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .prod47 {
  background-image: url(assets/prod/condolencias/corazon.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor-prod .productos section .categoria .articulo .compra-desc {
  padding: 0 0;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 0.9em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0 0;
}

.contenedor-prod .productos section .categoria .articulo .compra-desc p {
  width: 50%;
  margin-bottom: 0.5rem;
}

.contenedor-prod .productos section .categoria .articulo .compra-desc p b {
  color: #006666;
}

.contenedor-prod .productos section .categoria .articulo .compra-desc i {
  color: #79a418;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  text-decoration: underline;
}

.btn-compra {
  width: 8em;
  height: 2em;
  background-color: #79a418;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;
}

.btn-compra:hover {
  background-color: #006646;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #b8b8b8 14%, #dedede 45%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #dedede 14%, #adadad 64%);
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: inset 7px 10px 12px #f0f0f0;
          box-shadow: inset 7px 10px 12px #f0f0f0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .adbar {
  width: 100%;
  height: 10em;
  border: 1px solid grey;
}

.color-nav {
  background-color: #79a418;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 8em;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/BANNERS/PC/PAYU-MERCADO-PAGO/PAGOS.png);
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 2em 10em;
}

.nosotros .header-nosotros {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-image: url(assets/logo-contacto.png);
  height: 12em;
  margin-bottom: 5%;
}

.nosotros .texto-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
  border: none;
  border-left: 1px solid #006646;
}

.nosotros .texto-nosotros .texto-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nosotros .texto-nosotros .texto-item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: normal;
  width: 55%;
  color: #505050;
}

.nosotros .texto-nosotros .texto-item h3 {
  font-weight: bolder;
  color: #006666;
  margin: 1.5em 0;
}

.nosotros .texto-nosotros .texto-item:nth-child(2) {
  width: 35%;
  padding: 1em 1.5em;
  background-color: rgba(134, 134, 134, 0.2);
  border-radius: 20px;
  max-height: 45em;
  overflow-y: scroll;
}

.nosotros .texto-nosotros .texto-item:nth-child(2) h3 {
  margin-bottom: 0.5em;
}

.nosotros .texto-nosotros .texto-item:nth-child(2) hr {
  border: 1px solid #79a418;
  opacity: 0.8;
  margin-bottom: 1em;
}

.contenedor-formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 5em;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5em auto;
  padding: 0 15%;
}

.contenedor-formulario .logo-title {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-formulario .logo-title .logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(assets/logo-contacto.png);
  height: 15em;
}

.contenedor-formulario .logo-title .title-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.contenedor-formulario .logo-title .title-contacto h3 {
  color: #006666;
  font-weight: 800;
  font-size: 1.5em;
}

.contenedor-formulario .info-form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
}

.contenedor-formulario .info-form .datos-contacto {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  border-left: 1px solid #006646;
  padding-left: 3em;
}

.contenedor-formulario .info-form .datos-contacto .datos-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.contenedor-formulario .info-form .datos-contacto .datos-art .logo-whatsapp {
  height: 1.3em;
  width: 1.3em;
  margin-left: 0em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/iconfinder_whatsapp-logo_1269930-green.svg);
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(1) {
  color: #006666;
  font-weight: bold;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(1) .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 1.5em;
  width: 1.5em;
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(1) .social a .media {
  width: 1.2em;
  height: 1.2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 1em;
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(1) .social a .facebook {
  background-image: url(assets/iconfinder_BW_Facebook_2_glyph_svg_5305153-darkgreen.svg);
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(1) .social a .instagram {
  background-image: url(assets/iconfinder_Instagram_glyph_svg_5335781darkgreen.svg);
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(2) {
  color: #79a418;
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(2) a {
  color: #79a418;
  text-decoration: underline;
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(3) {
  margin-top: 2em;
  margin-bottom: 1em;
}

.contenedor-formulario .info-form .datos-contacto .datos-art:nth-child(3) a {
  color: #006666;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1em;
}

.contenedor-formulario .info-form .formulario {
  background-color: rgba(114, 114, 114, 0.1);
  padding: 1.5em 2em;
  border-radius: 20px;
  width: 50%;
}

.contenedor-formulario .info-form .formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contenedor-formulario .info-form .formulario form .input-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-formulario .info-form .formulario form .input-data:nth-child(5) input {
  width: 100%;
}

.contenedor-formulario .info-form .formulario form .input-data:nth-child(2) input {
  font-weight: 600;
}

.contenedor-formulario .info-form .formulario form .input-data label {
  margin: 0;
  margin-right: 0.5em;
}

.contenedor-formulario .info-form .formulario form .input-data input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 80%;
  border-bottom: 1px solid #006646;
}

.contenedor-formulario .info-form .formulario form .input-data #tel {
  font-size: 0.8em;
}

.contenedor-formulario .info-form .formulario form .input-data textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #006646;
  width: 80%;
}

.contenedor-formulario .info-form .formulario form input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #006646;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0;
  background-color: #79a418;
}

footer .footer-icon {
  height: 11em;
  width: 7em;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .contenedor-icondesigner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

footer .contenedor-icondesigner a .footer-icon {
  height: 6em;
  width: 7em;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .contenedor-icondesigner p {
  color: white;
  width: 7em;
}

footer .fiscal {
  background-image: url(assets/logo_blanco_ImgID3.png);
}

footer .designer {
  background-image: url(assets/mi-logo.svg);
}

footer .contenedor-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer .contenedor-contacto .contacto-tel {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto 0;
  word-break: inherit;
}

footer .contenedor-contacto .contacto-tel a {
  color: white;
  font-weight: normal;
  text-decoration: underline;
  margin-right: 1em;
}

footer .contenedor-contacto .contacto-tel .logo-whatsapp {
  height: 1.3em;
  width: 1.3em;
  margin-left: 1.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/iconfinder_whatsapp-logo_1269930.svg);
}

footer .contenedor-contacto .registrado {
  height: 1.5em;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
}

footer .contenedor-contacto .registrado a {
  color: white;
  text-decoration: underline;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.features .item-pagoenvio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 25%;
  height: auto;
  padding: 1.5em;
  border-top: 2px solid #79a418;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3em auto;
  word-wrap: none;
}

.features .item-pagoenvio .list-item {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.features .item-pagoenvio .list-item ul li {
  text-align: left;
  list-style-type: disc;
}

.features .item-pagoenvio .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .item-pagoenvio .title h3 {
  color: #006666;
  font-weight: bold;
}

.features .item-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 25%;
  min-width: 20em;
  height: auto;
  margin: 1% 2%;
}

.features .item-features .imagen-title {
  position: relative;
  height: 100%;
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0%;
}

.features .item-features .imagen-title .imagen-1 {
  margin: 0 auto;
  background-image: url(assets/BANNERS/PC/SERVICIOS/S1.png);
  width: 100%;
  height: 29em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features .item-features .imagen-title .imagen-2 {
  margin: 0 auto;
  background-image: url(assets/BANNERS/PC/SERVICIOS/S2.png);
  width: 100%;
  height: 29em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features .item-features .imagen-title .imagen-3 {
  margin: 0 auto;
  background-image: url(assets/BANNERS/PC/SERVICIOS/S3.png);
  width: 100%;
  height: 29em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features .item-features .title-text {
  font-weight: 800;
  color: #79a418;
  font-size: 1.3em;
  height: auto;
}

.features .descripcion {
  font-size: 0.9em;
}

hr {
  border: 1px solid #79a418;
  margin: 5px;
}

#my-nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social a .media {
  width: 1.5em;
  height: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 1em;
}

.social a .facebook {
  background-image: url(assets/iconfinder_BW_Facebook_2_glyph_svg_5305153-01.svg);
}

.social a .instagram {
  background-image: url(assets/iconfinder_Instagram_glyph_svg_5335781-01.svg);
}

.head {
  color: #348fbf;
  font-family: Tahoma;
  font-size: 11px;
}

.txt {
  color: #454545;
  font-family: Tahoma;
  font-size: 11px;
}

.bmenu {
  color: #ffffff;
  font-family: Tahoma;
  font-size: 11px;
}

#price {
  color: #ed1c24;
}

.copy {
  color: #757272;
  font-family: Tahoma;
  font-size: 11px;
}

.ptitle {
  color: #fadb4c;
  font-family: Tahoma;
  font-size: 11px;
}

.shop {
  color: #bd001a;
  font-family: Tahoma;
  font-size: 11px;
}

.rmenu {
  color: #ffffff;
  font-family: Tahoma;
  font-size: 11px;
  padding-left: 32px;
}

#green {
  color: #629903;
}

.more {
  color: #629903;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: 600;
  text-decoration: underline;
}

#red {
  color: #ba0c00;
}

.t11 {
  font-family: Tahoma;
  font-size: 11px;
}

.t12 {
  font-family: Tahoma;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#under {
  text-decoration: underline;
}

.Estilo3 {
  color: #a2c428;
  font-family: "Futura Md BT";
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.Estilo4 {
  color: #ffffff;
}

.Estilo13 {
  color: #999999;
}

.Estilo5 {
  font-family: "Futura Md BT";
}

.Estilo7 {
  color: #999999;
  font-family: "Futura Md BT";
  font-size: 14px;
}

.Estilo35 {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
}

.Estilo18 {
  color: #666666;
}

.Estilo21 {
  font-family: "Futura Lt BT", "Futura Md BT";
  font-size: 14px;
}

.Estilo8 {
  color: #006666;
}

.Estilo9 {
  font-family: Tahoma;
  font-size: 12px;
  color: #006666;
  font-weight: bold;
}

.Estilo20 {
  color: #666666;
  font-family: "Futura Lt BT", "Futura Md BT";
  font-size: 14px;
}

.Estilo37 {
  color: #006666;
  font-weight: bold;
}

.Estilo10 {
  font-family: Tahoma;
  font-size: 12px;
  color: #66cc00;
  font-weight: bold;
}

.Estilo16 {
  font-family: "Futura Md BT";
  font-size: 11px;
  font-weight: bold;
}

.Estilo12 {
  color: #006666;
  font-family: Tahoma;
  font-size: 12px;
}

.Estilo32 {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  font-family: "Futura Md BT";
}

.Estilo38 {
  color: #006666;
  font-family: "Futura Lt BT", "Futura Md BT";
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

#div8 #price9 p strong {
  color: #008080;
}

#div8 #price9 p strong a {
  color: #008080;
}

#div8 #price9 p .Estilo37 .Estilo18 strong {
  color: #808080;
}

#div8 #price9 p .Estilo37 .Estilo18 strong {
  color: #6f6f6f;
}

#green b .Estilo35 {
  font-family: Futura Lt BT, Futura Md BT;
}

#green .Estilo35 strong {
  font-family: Verdana, Geneva, sans-serif;
}

#green b .Estilo35 {
  font-family: Verdana, Geneva, sans-serif;
}

.Estilo21 {
  color: #808080;
}

.titulon {
  font-family: Futura Lt BT, Futura Md BT;
}

.titulon strong {
  color: #408080;
}

.titulon strong a {
  color: #008040;
}

.menu {
  color: #008080;
}

.titulon strong {
  color: #008080;
}

.titulon strong {
  color: #008040;
}

.titulon strong .menu {
  color: #008040;
}

.Estilo13 .Estilo5 a {
  color: #808080;
}

.puntos {
  color: #fff;
}

#div8 p .Estilo37 strong {
  color: #fff;
}

.puntos {
  color: #fff;
}

.puntos {
  color: #fff;
}

@media (max-width: 850px) {
  .contenedor {
    width: 90%;
  }
  header .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 15em;
  }
  .carousel-img {
    display: block;
    width: 100%;
    height: 15em;
  }
  .ci1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/PC/HEADER/1.png);
  }
  .ci2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/PC/HEADER/2.png);
  }
  .ci3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/PC/HEADER/3.png);
  }
  .features {
    width: 100%;
  }
  .features .item-pagoenvio {
    width: 30%;
    padding: 1.5em 0.5em;
  }
  .features .item-pagoenvio .list-item {
    width: 90%;
  }
  .features .item-pagoenvio .title h3 {
    font-size: 1.2em;
  }
  .features .item-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 30%;
    min-width: inherit;
    height: auto;
    margin: 1% 4px;
  }
  .features .item-features .imagen-title {
    position: relative;
    height: 100%;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0%;
  }
  .features .item-features .imagen-title .imagen-1 {
    width: 100%;
    height: 15em;
  }
  .features .item-features .imagen-title .imagen-2 {
    width: 100%;
    height: 15em;
  }
  .features .item-features .imagen-title .imagen-3 {
    width: 100%;
    height: 15em;
  }
  .features .item-features .title-text {
    font-weight: 800;
    color: #79a418;
    font-size: 1.3em;
    height: auto;
  }
  .nosotros {
    padding: 2em 1em;
  }
  .nosotros .texto-nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .texto-nosotros .texto-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .nosotros .texto-nosotros .texto-item:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: normal;
    width: 90%;
    color: #505050;
  }
  .nosotros .texto-nosotros .texto-item h3 {
    font-weight: bolder;
    color: #006666;
    margin: 1.5em 0;
  }
  .nosotros .texto-nosotros .texto-item:nth-child(2) {
    width: 90%;
    padding: 1em 1em;
    background-color: rgba(134, 134, 134, 0.2);
    border-radius: 20px;
  }
  .nosotros .texto-nosotros .texto-item:nth-child(2) h3 {
    margin-bottom: 0.5em;
  }
  .nosotros .texto-nosotros .texto-item:nth-child(2) hr {
    border: 1px solid #79a418;
    opacity: 0.8;
    margin-bottom: 1em;
  }
  .contenedor-prod .productos {
    width: 100%;
  }
  .contenedor-prod .productos .envios {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor-prod .productos .envios .envio-art:nth-child(2) {
    display: none;
  }
  .contenedor-prod .productos section .categoria {
    width: 90%;
    padding: 2em 0.5em;
  }
  .contenedor-formulario {
    padding: 1% 1em;
  }
  .contenedor-formulario .info-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedor-formulario .info-form .datos-contacto {
    padding-left: 1em;
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contenedor-formulario .info-form .formulario {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .contenedor {
    width: 100%;
    background-image: url(assets/BANNERS/CEL/PAY-U-Y-MERCADO-PAGO/PAGOS-CEL2.png);
  }
  footer {
    height: auto;
  }
  footer .contenedor-contacto .contacto-tel {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto 0;
  }
  footer .contenedor-contacto .contacto-tel p {
    word-break: keep-all;
  }
  .features {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .item-pagoenvio {
    width: 80%;
    padding: 0.5em 0.5em;
  }
  .features .item-pagoenvio .list-item {
    width: 90%;
  }
  .features .item-pagoenvio .title h3 {
    font-size: 1.2em;
  }
  .features .item-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 90%;
    min-width: inherit;
    height: auto;
    margin: 1% auto;
  }
  .features .item-features .imagen-title {
    position: relative;
    height: 100%;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0%;
  }
  .features .item-features .imagen-title .imagen-1 {
    margin: 0 auto;
    background-color: #006666;
    width: 100%;
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .features .item-features .title-text {
    font-weight: 800;
    color: #79a418;
    font-size: 1.3em;
    height: auto;
  }
  .contenedor-prod .productos {
    width: 100%;
  }
  .contenedor-prod .productos .envios {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor-prod .productos .envios .envio-art:nth-child(2) {
    display: none;
  }
  .contenedor-prod .productos section .categoria {
    width: 90%;
    padding: 1em 0em;
  }
  .contenedor-prod .productos section .categoria .articulo {
    margin: 0.5em 0em;
    padding: 0 1em 1em 0;
  }
  .contenedor-formulario {
    padding: 1% 1em;
  }
  .contenedor-formulario .logo-title .logo-img {
    width: 60%;
  }
  .contenedor-formulario .logo-title .title-contacto {
    width: 50%;
  }
  .contenedor-formulario .info-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedor-formulario .info-form .datos-contacto {
    padding-left: 1em;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-formulario .info-form .formulario {
    width: 100%;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  header .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .carousel-img {
    display: block;
    width: 100%;
    height: 100vh;
  }
  .ci1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/CEL/HEADER/1.png);
  }
  .ci2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/CEL/HEADER/2.png);
  }
  .ci3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/CEL/HEADER/3.png);
  }
}
/*# sourceMappingURL=styles.css.map */