@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-menu {
  border: 0px solid grey;
}

.dropdown-menu .dropdown-item {
  border-bottom: 1px solid grey;
  color: #79A418;
}

.navbar-brand img {
  height: 60px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: auto;
}

header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #006666;
}

.contenedor-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.contenedor-prod .productos {
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.contenedor-prod .productos section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.contenedor-prod .productos section .title-cat {
  text-align: left;
  padding-left: 2em;
  font-size: 1.5em;
  font-weight: 800;
  color: #79A418;
}

.contenedor-prod .productos section .categoria {
  border-top: 1px solid;
  border-color: linear-gradient(to right, #79A418 100%, #79A418 0%);
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contenedor-prod .productos section .categoria .articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 16em;
  height: 20em;
  margin: 0 1em;
}

.contenedor-prod .productos section .categoria .articulo .artic-img {
  background-color: #79A418;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 16em;
  height: 15em;
}

.contenedor-prod .productos section .categoria .articulo .compra-desc {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 0.9em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .adbar {
  width: 100%;
  height: 10em;
  border: 1px solid grey;
}

.color-nav {
  background-color: #79A418;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 8em;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #006646;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.features .item-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 25%;
  height: auto;
  margin: 1% 2%;
}

.features .item-features .imagen-title {
  position: relative;
  height: 100%;
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0%;
}

.features .item-features .imagen-title .imagen-1 {
  margin: 0 auto;
  background-color: #006666;
  width: 100%;
  height: 35em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features .item-features .title-text {
  font-weight: 800;
  color: #79A418;
  font-size: 1.3em;
  height: auto;
}

.features .descripcion {
  font-size: 0.9em;
}

hr {
  border: 1px solid #79A418;
  margin: 5px;
}

#my-nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.head {
  color: #348FBF;
  font-family: Tahoma;
  font-size: 11px;
}

.txt {
  color: #454545;
  font-family: Tahoma;
  font-size: 11px;
}

.bmenu {
  color: #FFFFFF;
  font-family: Tahoma;
  font-size: 11px;
}

#price {
  color: #ED1C24;
}

.copy {
  color: #757272;
  font-family: Tahoma;
  font-size: 11px;
}

.ptitle {
  color: #FADB4C;
  font-family: Tahoma;
  font-size: 11px;
}

.shop {
  color: #BD001A;
  font-family: Tahoma;
  font-size: 11px;
}

.rmenu {
  color: #FFFFFF;
  font-family: Tahoma;
  font-size: 11px;
  padding-left: 32px;
}

#green {
  color: #629903;
}

.more {
  color: #629903;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: 600;
  text-decoration: underline;
}

#red {
  color: #BA0C00;
}

.t11 {
  font-family: Tahoma;
  font-size: 11px;
}

.t12 {
  font-family: Tahoma;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#under {
  text-decoration: underline;
}

.Estilo3 {
  color: #A2C428;
  font-family: "Futura Md BT";
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.Estilo4 {
  color: #FFFFFF;
}

.Estilo13 {
  color: #999999;
}

.Estilo5 {
  font-family: "Futura Md BT";
}

.Estilo7 {
  color: #999999;
  font-family: "Futura Md BT";
  font-size: 14px;
}

.Estilo35 {
  color: #FFFFFF;
  font-size: 14px;
  font-style: italic;
}

.Estilo18 {
  color: #666666;
}

.Estilo21 {
  font-family: "Futura Lt BT", "Futura Md BT";
  font-size: 14px;
}

.Estilo8 {
  color: #006666;
}

.Estilo9 {
  font-family: Tahoma;
  font-size: 12px;
  color: #006666;
  font-weight: bold;
}

.Estilo20 {
  color: #666666;
  font-family: "Futura Lt BT", "Futura Md BT";
  font-size: 14px;
}

.Estilo37 {
  color: #006666;
  font-weight: bold;
}

.Estilo10 {
  font-family: Tahoma;
  font-size: 12px;
  color: #66CC00;
  font-weight: bold;
}

.Estilo16 {
  font-family: "Futura Md BT";
  font-size: 11px;
  font-weight: bold;
}

.Estilo12 {
  color: #006666;
  font-family: Tahoma;
  font-size: 12px;
}

.Estilo32 {
  color: #FFFFFF;
  font-size: 14px;
  font-style: italic;
  font-family: "Futura Md BT";
}

.Estilo38 {
  color: #006666;
  font-family: "Futura Lt BT", "Futura Md BT";
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

#div8 #price9 p strong {
  color: #008080;
}

#div8 #price9 p strong a {
  color: #008080;
}

#div8 #price9 p .Estilo37 .Estilo18 strong {
  color: #808080;
}

#div8 #price9 p .Estilo37 .Estilo18 strong {
  color: #6F6F6F;
}

#green b .Estilo35 {
  font-family: Futura Lt BT, Futura Md BT;
}

#green .Estilo35 strong {
  font-family: Verdana, Geneva, sans-serif;
}

#green b .Estilo35 {
  font-family: Verdana, Geneva, sans-serif;
}

.Estilo21 {
  color: #808080;
}

.titulon {
  font-family: Futura Lt BT, Futura Md BT;
}

.titulon strong {
  color: #408080;
}

.titulon strong a {
  color: #008040;
}

.menu {
  color: #008080;
}

.titulon strong {
  color: #008080;
}

.titulon strong {
  color: #008040;
}

.titulon strong .menu {
  color: #008040;
}

.Estilo13 .Estilo5 a {
  color: #808080;
}

.puntos {
  color: #FFF;
}

#div8 p .Estilo37 strong {
  color: #FFF;
}

.puntos {
  color: #FFF;
}

.puntos {
  color: #FFF;
}
/*# sourceMappingURL=styles.css.map */