@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$verde1: #79a418;
$verde2: #006666;
$verde3: #006646;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}




p,
h1,
i,
b,
h2,
h3,
h4,
li,
a,
label,
input,
button {
  font-family: "Montserrat", sans-serif;
}

.dropdown-menu {
  border: 0px solid grey;

  .dropdown-item {
    border-bottom: 1px solid grey;

    color: $verde1;
  }
}

.navbar {
  padding: 0.5em 1em;
}

.navbar-brand {
  padding: 0 0.5em;

  img {
    height: 60px;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;

  .banner {
    display: flex;
    width: 100%;
    height: 27em;
  }
}
.carousel-img {
  display: block;
  width: 100%;
  height: 27em;
}
.ci1 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/BANNERS/PC/HEADER/1.png);
}
.ci2 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/BANNERS/PC/HEADER/2.png);
}
.ci3 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/BANNERS/PC/HEADER/3.png);
}

.carousel {
  width: 100%;
}

.card-body {
  background-color: rgba(0, 0, 0, 0);
}

.no-bg {
  background-color: rgba(0, 0, 0, 0);
}

.card-header {
  background-color: $verde1;
}

.contenedor-prod {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  .productos {
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;

    height: auto;

    .envios {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 70%;
      justify-content: space-between;
      margin: 0 auto;

      .envio-art {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        align-items: center;
        margin-bottom: 2em;

        &:nth-child(2) {
          width: 1em;
          border-right: 1px dotted $verde1;
          margin-right: 1em;
          border-left: 1px dotted $verde1;
          margin-left: 1em;
          display: inherit;
        }

        .envio-left {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;

          p {
            margin: 0;
            margin-right: 1em;
          }

          i {
            color: $verde1;
            font-weight: bold;
            padding-right: 1em;
          }

          .hoja {
            margin: auto 0.5em;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(assets/hojita.jpg);
            width: 1em;
            height: 1em;
          }
        }
      }
    }

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;

      .title-cat {
        text-align: left;
        padding-left: 2em;
        font-size: 1em;
        font-weight: 800;
        color: white;
      }

      .categoria {
        width: 80%;
        margin: 0 auto;
        border-color: linear-gradient(to right, $verde1 100%, $verde1 0%);
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        .articulo {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          width: 25em;
          min-height: 25em;
          height: auto;
          margin: 1em 1em;
          border-right: 1px dotted $verde1;
          border-bottom: 1px dotted $verde1;
          padding: 0 2em 2em 0;

          .tipo-de-rosa {
            background-color: $verde1;
            color: white;
            width: 100%;
            height: 1.5em;
            margin: 0 0;
            font-weight: bolder;
            padding-right: 1em;
            text-align: right;
          }

          .desc-rosa {
            text-align: left;
            font-size: 0.9em;
            font-weight: 600;
            color: rgb(80, 80, 80);
          }

          .artic-img {
            width: auto;
            height: 15em;
          }

          .prod1 {
            background-image: url(assets/prod/producto-1.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .prod2 {
            background-image: url(assets/prod/alstroemerias2.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .prod3 {
            background-image: url(assets/prod/canasta-nac.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .prod4 {
            background-image: url(assets/prod/ROSAS.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .prod5 {
            background-image: url(assets/prod/bicolor.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .prod6 {
            background-image: url(assets/prod/SURTIDO.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod7 {
            background-image: url(assets/prod/cesta-yerberas-globos.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod8 {
            background-image: url(assets/prod/canasta-peluche-globo.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod9 {
            background-image: url(assets/prod/lisantus-y-globos.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod10 {
            background-image: url(assets/prod/rocvio-campestre.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod11 {
            background-image: url(assets/prod/ramo4esp-primavera.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod12 {
            background-image: url(assets/prod/rosas-box-25.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod13 {
            background-image: url(assets/prod/box-16-rosas.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod14 {
            background-image: url(assets/prod/rosas-c-ojos-de-perdiz.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod15 {
            background-image: url(assets/prod/susper-cesta-peluche.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod16 {
            background-image: url(assets/prod/cesta-nueva.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod17 {
            background-image: url(assets/prod/ROSAS-Y-CHAMPAGNE.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod18 {
            background-image: url(assets/prod/vinoybombon.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod19 {
            background-image: url(assets/prod/bandeja-picada.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod20 {
            background-image: url(assets/prod/DESAYUNO-floresjpg.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod21 {
            background-image: url(assets/prod/producto-nuevo3.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod22 {
            background-image: url(assets/prod/bombones.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod23 {
            background-image: url(assets/prod/matero.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod24 {
            background-image: url(assets/prod/canasta-vip-el.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod25 {
            background-image: url(assets/prod/florero-gerbera.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod26 {
            background-image: url(assets/prod/florero-alstromerias.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod27 {
            background-image: url(assets/prod/florero-claveles.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod28 {
            background-image: url(assets/prod/florero-rosas.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod29 {
            background-image: url(assets/prod/florero-amarillo.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod30 {
            background-image: url(assets/prod/SUPER-CESTA-DE-GERBERAS-Y-FLORES--SILVESTRES.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod31 {
            background-image: url(assets/prod/REGALO-NUEVO.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod32 {
            background-image: url(assets/prod/ARREGLO-LILIUMS-OJO-PERDIZ.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod33 {
            background-image: url(assets/prod/Arreglo-Imperial.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod34 {
            background-image: url(assets/prod/cesta-peluche-torta.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod35 {
            background-image: url(assets/prod/cesta-mis-15.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod36 {
            background-image: url(assets/prod/condolencias/corona-estandar.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod37 {
            background-image: url(assets/prod/condolencias/corona-nueva.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod38 {
            background-image: url(assets/prod/condolencias/corona-nueva-1.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod39 {
            background-image: url(assets/prod/condolencias/corona-mediana.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod40 {
            background-image: url(assets/prod/condolencias/corona-especial.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod41 {
            background-image: url(assets/prod/condolencias/corona-grande.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod42 {
            background-image: url(assets/prod/condolencias/aro-espuma-floral.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod43 {
            background-image: url(assets/prod/condolencias/combo-funebre.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod44 {
            background-image: url(assets/prod/condolencias/cruz.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod45 {
            background-image: url(assets/prod/condolencias/centro-funerario.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod46 {
            background-image: url(assets/prod/condolencias/corazon-g.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .prod47 {
            background-image: url(assets/prod/condolencias/corazon.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .compra-desc {
            padding: 0 0;
            padding-top: 1em;
            display: flex;
            flex-flow: row nowrap;
            font-size: 0.9em;
            justify-content: space-between;
            text-align: center;
            margin: 0 0;

            p {
              width: 50%;
              margin-bottom: 0.5rem;
              b {
                color: $verde2;
              }
            }

            i {
              color: $verde1;
            }
          }
        }
      }
    }
  }
}
.btn:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  text-decoration: underline;
}

.btn-compra {
  width: 8em;
  height: 2em;
  background-color: $verde1;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;

  &:hover {
    background-color: $verde3;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
 }
 ::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #b8b8b8 14%,#dedede 45%);
  border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #dedede 14%,#adadad 64%);
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;

  .adbar {
    width: 100%;
    height: 10em;
    border: 1px solid grey;
  }
}

.color-nav {
  background-color: #79a418;
}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 8em;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/BANNERS/PC/PAYU-MERCADO-PAGO/PAGOS.png);
}

.nosotros {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  justify-content: center;
  text-align: left;
  padding: 2em 10em;

  .header-nosotros {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(assets/logo-contacto.png);
    height: 12em;
    margin-bottom: 5%;
  }

  .texto-nosotros {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    border: none;
    border-left: 1px solid $verde3;

    .texto-item {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-weight: normal;
        width: 55%;
        color: rgb(80, 80, 80);
      }

      h3 {
        font-weight: bolder;
        color: $verde2;
        margin: 1.5em 0;
      }

      &:nth-child(2) {
        width: 35%;
        padding: 1em 1.5em;
        background-color: rgba(134, 134, 134, 0.2);
        border-radius: 20px;
        max-height: 45em;
        overflow-y: scroll;
        
        h3 {
          margin-bottom: 0.5em;
        }

        hr {
          border: 1px solid $verde1;
          opacity: 0.8;
          margin-bottom: 1em;
        }
      }
    }
  }
}

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 5em;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  margin: 5em auto;
  padding: 0 15%;

  .logo-title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .logo-img {
      display: flex;
      flex-direction: column;
      width: 40%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(assets/logo-contacto.png);
      height: 15em;
    }

    .title-contacto {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 40%;
      align-items: flex-end;
      text-align: right;

      h3 {
        color: $verde2;
        font-weight: 800;
        font-size: 1.5em;
      }
    }
  }

  .info-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;

    .datos-contacto {
      width: 40%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      text-align: left;
      border-left: 1px solid $verde3;
      padding-left: 3em;

      .datos-art {
        display: flex;
        flex-direction: column;
        text-align: left;
        
          .logo-whatsapp {
            height: 1.3em;
            width: 1.3em;
            margin-left: 0em;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(assets/iconfinder_whatsapp-logo_1269930-green.svg);
          
        }

        &:nth-child(1) {
          color: $verde2;
          font-weight: bold;
          margin-bottom: 2em;
          display: flex;
          flex-direction: row;

          .social {
            display: flex;
            flex-direction: row;
            height: 1.5em;
            width: 1.5em;

            a {
              .media {
                width: 1.2em;
                height: 1.2em;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 0 1em;
              }

              .facebook {
                background-image: url(assets/iconfinder_BW_Facebook_2_glyph_svg_5305153-darkgreen.svg);
              }

              .instagram {
                background-image: url(assets/iconfinder_Instagram_glyph_svg_5335781darkgreen.svg);
              }
            }
          }
        }

        &:nth-child(2) {
          color: $verde1;

          a {
            color: $verde1;
            text-decoration: underline;
          }
        }

        &:nth-child(3) {
          margin-top: 2em;
          margin-bottom: 1em;

          a {
            color: $verde2;
            text-decoration: underline;
            font-weight: bold;
            font-size: 1em;
          }
        }
      }
    }

    .formulario {
      background-color: rgba(114, 114, 114, 0.1);
      padding: 1.5em 2em;
      border-radius: 20px;
      width: 50%;

      form {
        display: flex;
        flex-direction: column;
        justify-content: left;

        .input-data {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0.8em 0;
          justify-content: space-between;
          &:nth-child(5) {
            input {
              width: 100%;
            }
          }
          &:nth-child(2) {
            input {
              font-weight: 600;
            }
          }

          label {
            margin: 0;
            margin-right: 0.5em;
          }

          input {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            width: 80%;
            border-bottom: 1px solid $verde3;
          }
          #tel {
            font-size: 0.8em;
          }

          textarea {
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid $verde3;
            width: 80%;
          }
        }

        input {
          background-color: rgba(0, 0, 0, 0);
          border: none;
          border-bottom: 1px solid $verde3;
        }
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 0 0;
  background-color: $verde1;
  .footer-icon {
    height: 11em;
    width: 7em;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contenedor-icondesigner {
    display: flex;
    flex-direction: column;
    height: auto;
    a {
      .footer-icon {
        height: 6em;
        width: 7em;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    p {
      color: white;
      width: 7em;
    }
  }

  .fiscal {
    background-image: url(assets/logo_blanco_ImgID3.png);
  }

  .designer {
    background-image: url(assets/mi-logo.svg);
  }

  .contenedor-contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    color: white;

    .contacto-tel {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto 0;
      word-break: inherit;
      a {
        color: white;
        font-weight: normal;
        text-decoration: underline;
        margin-right: 1em;
      }

      .logo-whatsapp {
        height: 1.3em;
        width: 1.3em;
        margin-left: 1.5em;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(assets/iconfinder_whatsapp-logo_1269930.svg);
      }
    }

    .registrado {
      height: 1.5em;
      text-align: center;
      font-size: 1.1em;
      font-weight: normal;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

.features {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin: 0 auto;

  .item-pagoenvio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
    height: auto;
    padding: 1.5em;
    border-top: 2px solid $verde1;
    justify-content: flex-start;
    margin: 3em auto;
    word-wrap: none;

    .list-item {
      text-align: left;
      width: 80%;
      margin: 0 auto;

      ul {
        li {
          text-align: left;
          list-style-type: disc;
        }
      }
    }

    .title {
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      margin: 0 auto;
      justify-content: center;

      h3 {
        color: $verde2;
        font-weight: bold;
      }
    }
  }

  .item-features {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 25%;
    min-width: 20em;
    height: auto;
    margin: 1% 2%;

    .imagen-title {
      position: relative;
      height: 100%;
      min-width: 100%;
      margin: 0 auto;

      .imagen-1 {
        margin: 0 auto;
        background-image: url(assets/BANNERS/PC/SERVICIOS/S1.png);
        width: 100%;
        height: 29em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .imagen-2 {
        margin: 0 auto;
        background-image: url(assets/BANNERS/PC/SERVICIOS/S2.png);
        width: 100%;
        height: 29em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .imagen-3 {
        margin: 0 auto;
        background-image: url(assets/BANNERS/PC/SERVICIOS/S3.png);
        width: 100%;
        height: 29em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      text-align: center;
      margin-bottom: 0%;
    }

    .title-text {
      font-weight: 800;
      color: $verde1;
      font-size: 1.3em;
      height: auto;
    }
  }

  .descripcion {
    font-size: 0.9em;
  }
}

hr {
  border: 1px solid $verde1;
  margin: 5px;
}

#my-nav {
  ul {
    li {
      a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
      }
    }
  }
}

.social {
  display: flex;
  flex-direction: row;

  a {
    .media {
      width: 1.5em;
      height: 1.5em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0 1em;
    }

    .facebook {
      background-image: url(assets/iconfinder_BW_Facebook_2_glyph_svg_5305153-01.svg);
    }

    .instagram {
      background-image: url(assets/iconfinder_Instagram_glyph_svg_5335781-01.svg);
    }
  }
}

.head {
  color: #348fbf;
  font-family: Tahoma;
  font-size: 11px;
}

.txt {
  color: #454545;
  font-family: Tahoma;
  font-size: 11px;
}

.bmenu {
  color: #ffffff;
  font-family: Tahoma;
  font-size: 11px;
}

#price {
  color: #ed1c24;
}

.copy {
  color: #757272;
  font-family: Tahoma;
  font-size: 11px;
}

.ptitle {
  color: #fadb4c;
  font-family: Tahoma;
  font-size: 11px;
}

.shop {
  color: #bd001a;
  font-family: Tahoma;
  font-size: 11px;
}

.rmenu {
  color: #ffffff;
  font-family: Tahoma;
  font-size: 11px;
  padding-left: 32px;
}

#green {
  color: #629903;
}

.more {
  color: #629903;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: 600;
  text-decoration: underline;
}

#red {
  color: #ba0c00;
}

.t11 {
  font-family: Tahoma;
  font-size: 11px;
}

.t12 {
  font-family: Tahoma;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#under {
  text-decoration: underline;
}

.Estilo3 {
  color: #a2c428;
  font-family: "Futura Md BT";
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.Estilo4 {
  color: #ffffff;
}

.Estilo13 {
  color: #999999;
}

.Estilo5 {
  font-family: "Futura Md BT";
}

.Estilo7 {
  color: #999999;
  font-family: "Futura Md BT";
  font-size: 14px;
}

.Estilo35 {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
}

.Estilo18 {
  color: #666666;
}

.Estilo21 {
  font-family: "Futura Lt BT", "Futura Md BT";
  font-size: 14px;
}

.Estilo8 {
  color: #006666;
}

.Estilo9 {
  font-family: Tahoma;
  font-size: 12px;
  color: #006666;
  font-weight: bold;
}

.Estilo20 {
  color: #666666;
  font-family: "Futura Lt BT", "Futura Md BT";
  font-size: 14px;
}

.Estilo37 {
  color: #006666;
  font-weight: bold;
}

.Estilo10 {
  font-family: Tahoma;
  font-size: 12px;
  color: #66cc00;
  font-weight: bold;
}

.Estilo16 {
  font-family: "Futura Md BT";
  font-size: 11px;
  font-weight: bold;
}

.Estilo12 {
  color: #006666;
  font-family: Tahoma;
  font-size: 12px;
}

.Estilo32 {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  font-family: "Futura Md BT";
}

.Estilo38 {
  color: #006666;
  font-family: "Futura Lt BT", "Futura Md BT";
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

#div8 #price9 p strong {
  color: #008080;
}

#div8 #price9 p strong a {
  color: #008080;
}

#div8 #price9 p .Estilo37 .Estilo18 strong {
  color: #808080;
}

#div8 #price9 p .Estilo37 .Estilo18 strong {
  color: #6f6f6f;
}

#green b .Estilo35 {
  font-family: Futura Lt BT, Futura Md BT;
}

#green .Estilo35 strong {
  font-family: Verdana, Geneva, sans-serif;
}

#green b .Estilo35 {
  font-family: Verdana, Geneva, sans-serif;
}

.Estilo21 {
  color: #808080;
}

.titulon {
  font-family: Futura Lt BT, Futura Md BT;
}

.titulon strong {
  color: #408080;
}

.titulon strong a {
  color: #008040;
}

.menu {
  color: #008080;
}

.titulon strong {
  color: #008080;
}

.titulon strong {
  color: #008040;
}

.titulon strong .menu {
  color: #008040;
}

.Estilo13 .Estilo5 a {
  color: #808080;
}

.puntos {
  color: #fff;
}

#div8 p .Estilo37 strong {
  color: #fff;
}

.puntos {
  color: #fff;
}

.puntos {
  color: #fff;
}

@media (max-width: 850px) {
  .contenedor {
    width: 90%;
  }
  header {
    .banner {
      display: flex;
      width: 100%;
      height: 15em;
    }
  }
  .carousel-img {
    display: block;
    width: 100%;
    height: 15em;
  }
  .ci1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/PC/HEADER/1.png);
  }
  .ci2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/PC/HEADER/2.png);
  }
  .ci3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/PC/HEADER/3.png);
  }
  .features {
    width: 100%;

    .item-pagoenvio {
      width: 30%;
      padding: 1.5em 0.5em;

      .list-item {
        width: 90%;
      }

      .title {
        h3 {
          font-size: 1.2em;
        }
      }
    }

    .item-features {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 30%;
      min-width: inherit;
      height: auto;
      margin: 1% 4px;

      .imagen-title {
        position: relative;
        height: 100%;
        min-width: 100%;
        margin: 0 auto;

        .imagen-1 {
          width: 100%;
          height: 15em;
        }
        .imagen-2 {
          width: 100%;
          height: 15em;
        }
        .imagen-3 {
          width: 100%;
          height: 15em;
        }

        text-align: center;
        margin-bottom: 0%;
      }

      .title-text {
        font-weight: 800;
        color: $verde1;
        font-size: 1.3em;
        height: auto;
      }
    }
  }

  .nosotros {
    padding: 2em 1em;

    .texto-nosotros {
      flex-direction: column;

      .texto-item {
        display: flex;
        flex-direction: column;
        height: auto;

        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          font-weight: normal;
          width: 90%;
          color: rgb(80, 80, 80);
        }

        h3 {
          font-weight: bolder;
          color: $verde2;
          margin: 1.5em 0;
        }

        &:nth-child(2) {
          width: 90%;
          padding: 1em 1em;
          background-color: rgba(134, 134, 134, 0.2);
          border-radius: 20px;

          h3 {
            margin-bottom: 0.5em;
          }

          hr {
            border: 1px solid $verde1;
            opacity: 0.8;
            margin-bottom: 1em;
          }
        }
      }
    }
  }

  .contenedor-prod {
    .productos {
      width: 100%;

      .envios {
        width: 100%;
        justify-content: center;

        .envio-art {
          &:nth-child(2) {
            display: none;
          }
        }
      }

      section {
        .categoria {
          width: 90%;
          padding: 2em 0.5em;
        }
      }
    }
  }

  .contenedor-formulario {
    padding: 1% 1em;

    .info-form {
      flex-direction: column-reverse;

      .datos-contacto {
        padding-left: 1em;
        width: 90%;
        flex-direction: row;
      }

      .formulario {
        width: 90%;
      }
    }
  }
}

@media (max-width: 400px) {
  .contenedor {
    width: 100%;
    background-image: url(assets/BANNERS/CEL/PAY-U-Y-MERCADO-PAGO/PAGOS-CEL2.png);
  }
  footer {
    height: auto;
    .contenedor-contacto {
      .contacto-tel {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto 0;
        p {
          word-break: keep-all;
        }
      }
    }
  }
  .features {
    width: 100%;
    flex-direction: column;

    .item-pagoenvio {
      width: 80%;
      padding: 0.5em 0.5em;

      .list-item {
        width: 90%;
      }

      .title {
        h3 {
          font-size: 1.2em;
        }
      }
    }

    .item-features {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 90%;
      min-width: inherit;
      height: auto;
      margin: 1% auto;

      .imagen-title {
        position: relative;
        height: 100%;
        min-width: 100%;
        margin: 0 auto;

        .imagen-1 {
          margin: 0 auto;
          background-color: $verde2;
          width: 100%;
          height: 15em;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        text-align: center;
        margin-bottom: 0%;
      }

      .title-text {
        font-weight: 800;
        color: $verde1;
        font-size: 1.3em;
        height: auto;
      }
    }
  }

  .contenedor-prod {
    .productos {
      width: 100%;

      .envios {
        width: 100%;
        justify-content: center;

        .envio-art {
          &:nth-child(2) {
            display: none;
          }
        }
      }

      section {
        .categoria {
          width: 90%;
          padding: 1em 0em;

          .articulo {
            margin: 0.5em 0em;
            padding: 0 1em 1em 0;
          }
        }
      }
    }
  }

  .contenedor-formulario {
    padding: 1% 1em;

    .logo-title {
      .logo-img {
        width: 60%;
      }

      .title-contacto {
        width: 50%;
      }
    }

    .info-form {
      flex-direction: column-reverse;

      .datos-contacto {
        padding-left: 1em;
        width: 90%;
        flex-direction: column;
      }

      .formulario {
        width: 100%;
      }
    }
  }
  header {
    flex-flow: column-reverse nowrap;
    .banner {
      display: flex;
      width: 100%;
      height: 100vh;
    }
  }

  .carousel-img {
    display: block;
    width: 100%;
    height: 100vh;
  }
  .ci1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/CEL/HEADER/1.png);
  }
  .ci2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/CEL/HEADER/2.png);
  }
  .ci3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/BANNERS/CEL/HEADER/3.png);
  }
}
